  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

  h1,h2{
    color:aliceblue;
    font-family: 'Open Sans', sans-serif;}


p b {background-color: brown;}

p{
    font-style: italic;
}

/*LINKS*/
a:hover {
   color:royalblue;
}
a:visited {
  text-decoration: none;  /*remove underline from links */
  color: red
}
a:link {
  color:chartreuse
}
.centrado {
text-align: center;
}